div{
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 18vw;
    margin: 2% 30%;
    
}

#cetz{
  
    -webkit-transform: scalex(-1);
    transform: scalex(-1);   
    }
#cetz:hover {   
transform: scalex(-1);
}
img:hover {
    transform: scale(1.2);
}
.page-arrow{
   display: flex;
   justify-content: center;
  
}
.arrow{
  
    width:  20vw;
    margin: 10px; 
}