.out-bird{
    /* display: flex; */
    flex-direction: row;
    width: 100%;
    padding: 0% 15%;
   justify-content: right;
   background-color: lightskyblue;
}

img{
    height: 30vw;
    margin: 10px;
    transform: rotateY(180deg);
}
.in-bird{
    display: inline;
    text-align: left;
}
h2{
    font-size: 3vw;
    margin: 10px;
    display: inline;
}
h3{
   font-size: 2vw;
   margin: 3px;
}

